.home-container {
  position: relative;
  font-family: Arial, sans-serif;
  color: #ffffff;
  text-align: left; /* Change from center to left */
  overflow: hidden;
}

.home-container p {
  text-align: left;
}

.slogan {
  color: white;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 1; /* Video is in the background */
}

.hero-section {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Align items to the left */
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for better contrast */
  padding: 0 20px;
  z-index: 1; /* Ensure this is above the video */
}

.hero-section h1 {
  font-size: 3em;
  margin: 0.8em 0;
}

.hero-section p {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.cta-button {
  padding: 15px 30px;
  font-size: 1em;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #1a1d21;
}

.footer {
  padding: 20px;
  color: #fff;
}
